{% import "/lup_themes/AA_lup_Theme-01/countryCodes.html" as countryCodes %}

{% set fieldsByLocale = module[countryCodes.locale] %} 




<div id="hs_cos_wrapper_content" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
   <span id="hs_cos_wrapper_content_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
      <h2> {{ fieldsByLocale.header  }}</h2>
      {{ fieldsByLocale.subheader_text  }}
   </span>
</div>
<div class="form-container">
   {% member_login 'my_login'
   email_label= '{{ fieldsByLocale.email_label}}',
   password_label= '{{ fieldsByLocale.password_label}}',
   remember_me_label= '{{ fieldsByLocale.remember_me_label}}',
   reset_password_text= '{{ fieldsByLocale.reset_password_text}}',
   submit_button_text= '{{ fieldsByLocale.submit_button_text}}'
   %}
</div>
<div>
   <div id="hs_cos_wrapper_membership_admin_content" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module">
      <span id="hs_cos_wrapper_membership_admin_content_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text">
         <p>{{ fieldsByLocale.having_trouble}} <a href="{{'mailto:' ~ site_settings.membershipWebsiteAdmin}}">{{ fieldsByLocale.mailto}}</a>.</p>
      </span>
     {% for row in hubdb_table_rows(5249394, 'book_type__eq=Fiction&orderBy=name') %}
        <h2>{{ row.name }}</h2>
        <p>{{ row.author }}</p>
        <i>
          {% for tag in row.tags %}
            {{tag.name}} {% if !loop.last%}, {% endif %}
          {% endfor%}
        </i>
     {% endfor%}
     
     
   </div>
</div>