<!--
  templateType: membership_reset_request_page
  isAvailableForNewContent: true
  label: Boilerplate - reset password request
  screenshotPath: ../../images/template-previews/membership-reset-password-request.png
-->
{% set template_css = '../../css/templates/system.css' %}
{% extends '../layouts/base.html' %}

{% block header %}
{% endblock %}

{% block body %}
{# The main-content ID is used for the navigation skipper in the header.html file. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}
<main id="main-content" class="body-container-wrapper">
   <section class="content-wrapper">
      <div class="systems-page">
         {% module "module_162565167701683" path='/lup_themes/AA_lup_Theme-01/modules/i18n/Multi-Language reset-password-request', label="Multi-Language reset-password-request" %}
      </div>
   </section>
</main>
{% endblock %}